@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Satoshi";
  src: url("https://drive.google.com/uc?export=view&id=1bdkQMhGCzbjaTBwXFsqbenBLSisAktgV")
    format("woff2");
  font-weight: 100 900; /* Specify the supported weight range */
  font-style: normal; /* Set default style to normal. Variable fonts typically support italics through 'font-style' property */
  font-variation-settings:
    "wght" 100,
    "ital" 1; /* Variable font settings*/
}

body {
  font-family: "Satoshi", sans-serif;
  color: #121212;
  font-size: 16px;
}

@layer base {
  a {
    text-decoration: none;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  h2 {
    margin-top: 0.5rem;
    font-size: 2.25rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    line-height: 1.6;
    color: #616161;
  }

  @theme {
    --animate-marquee: marquee 20s linear infinite;
    --animate-marquee-mobile: marquee-mobile 25s linear infinite;

    @keyframes marquee {
      0% {
        transform: translateX(20%); /* Start off-screen */
      }

      100% {
        transform: translateX(-100%); /* Move to the left */
      }
    }

    @keyframes marquee-mobile {
      0% {
        transform: translateX(5%);
      }

      100% {
        transform: translateX(-240%);
      }
    }
  }

  @media screen and (min-width: 767px) {
    h1 {
      font-size: 3.25rem;
    }
  }

  @media screen and (min-width: 991px) {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
}
